.title {
    -fx-background-color: #18534F;
    -fx-padding: 15 0 10 0;
    -fx-font-size: 25;
    -fx-font-family: Lato;
    -fx-text-fill: #FEEAA1;
}

/* Separator */
.separator {
    -fx-background-color: #D6955B;
}

.label-invisible {
    visibility: false;
    -fx-font-size: 2;
}

/*/////////////*/
/* --- TOP --- */
/*\\\\\\\\\\\\\*/
.top-element {
    -fx-background-color: #18534F;
}

/*///////////////*/
/* --- RIGHT --- */
/*\\\\\\\\\\\\\\\*/
.right-menu {
    -fx-spacing: 100;
    -fx-alignment: center;
    -fx-background-color: #226D68;
    -fx-padding: 0 150 0 150;
}

.right-menu-button {
    -fx-font-size: 20;
    -fx-background-color: #226D68;
    -fx-text-fill: #ECF8F6;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-alignment: center;
    -fx-min-width: 200;
}

.right-menu-button:hover {
    -fx-border-color: #D6955B;
}

.right-menu-button:pressed {
    -fx-background-color: #18534F;
    -fx-border-color: #D6955B;
}

/*//////////////*/
/* --- LEFT --- */
/*\\\\\\\\\\\\\\*/
.left-label {
    -fx-padding: 30 0 0 0;
    -fx-text-fill: #FEEAA1;
    -fx-font-size: 23;
    -fx-font-family: Lato;
}

.left-element {
    -fx-background-color: #226D68;
    -fx-font-size: 17;
    -fx-text-fill: #ECF8F6;
    -fx-spacing: 40;
    -fx-pref-width: 600;
}

.left-container {
    -fx-padding: 0 50 50 50;
}

/*////////////////*/
/* --- CENTER --- */
/*\\\\\\\\\\\\\\\\*/
.center-element {
    -fx-alignment: center;
    -fx-font-size: 40;
    -fx-background-color: black;
}