.title {
    -fx-background-color: #18534F;
    -fx-padding: 15 0 10 0;
    -fx-font-size: 25;
    -fx-font-family: Lato;
    -fx-text-fill: #FEEAA1;
}

.top-element {
    -fx-background-color: #18534F;
}

.left-label {
    -fx-padding: 30 0 0 0;
    -fx-text-fill: #FEEAA1;
    -fx-font-size: 23;
    -fx-font-family: Lato;
}

.left-element {
    -fx-background-color: #226D68;
    -fx-font-size: 17;
    -fx-text-fill: #FFFFFF;
    -fx-spacing: 10;
    -fx-pref-width: 600;
}

.left-vbox {
    -fx-padding: 0 50 50 100;
}

.separator {
    -fx-background-color: #D6955B;
}

.label-invisible {
    visibility: false;
    -fx-font-size: 2;
}

.right-menu {
    -fx-spacing: 150;
    -fx-alignment: center;
    -fx-background-color: #226D68;
}

.right-menu-button {
    -fx-font-size: 20;
    -fx-background-color: #226D68;
    -fx-text-fill: #ffffff;
    -fx-border-color: #FEEAA1;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-alignment: center;
}

.right-menu-button:hover {
    -fx-border-color: #D6955B;
}

.right-menu-button:pressed {
    -fx-background-color: #18534F;
    -fx-border-color: #D6955B;
}